.cartSVG {
    width: 2rem;
    text-align: center;
    margin: 5px 5px;
}

.cartUnits {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    text-align: center;
    color: white;
    width: 5rem;
    height: 4.5rem;
    background: chocolate;
    border-radius: 25%;
    padding: 2px;
    margin: 10px 5px;
    border: 1px;
}